* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: url(bg5.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	font-family: sans-serif;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.loginBox {
	width: 350px;
	height: 420px;
	padding: 60px 40px 80px 40px;
	background-color: rgba(0,0,0,.5);
}
.user {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	top: -100px;
	left: calc(50% - 50px);	
	margin-bottom: 0;
	padding-bottom: 0;
}
.form {
	margin-top: -80px;
}
h2 {
	padding: 0 0 20px 0;
	color: #f8663b;
	text-align: center;
}

.loginBox p {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}
.loginBox input {
	width: 100%;
	margin-bottom: 20px;
}
.loginBox input[type="text"],
.loginBox input[type="password"] {
	border: none;
	border-bottom: 1px solid #fff;
	background-color: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px
}
::placeholder {
	color: rgba(255,255,255,.5);
}
.loginBox input[type="submit"] {
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background-color: #f8663b;
	cursor: pointer;
	border-radius: 20px;
}
.loginBox input[type="submit"]:hover {
	background-color: #efed40;
	color: #262626; 
}
.loginBox a  {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
.loginBox a:hover {
	color: rgba(255,255,255,.8);
}